apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
  namespace: wanderlust
  labels:
    app: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      name: frontend
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: zeeshanshaikh799/wanderlust-frontend:v1.28
          ports:
            - containerPort: 80   # NGINX serves on port 80
---
apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: wanderlust
spec:
  type: NodePort
  selector:
    app: frontend
  ports:
    - port: 80           # service port
      targetPort: 80     # container port, must match NGINX
      nodePort: 31000
      protocol: TCP
